<article class="archive-item" style="margin-bottom: 30px">
  <a name="{{post.ref}}" class="anchor">.</a>

  <div class="card-contents">
    <div class="card-col-1">
      <div class="hover-image">
        <img class="game-image" src="/assets/images/{{post.image}}.png" />
      </div>

      <div class="center-hor">
        <div class="link-wrapper">
          {%if post.gh%}
          <div>
            <a href="{{ post.gh }}">
              <img src="/assets/images/github.png" class="project-icon" />
            </a>
            <a href="{{ post.gh }}">
              <span class="tiny"> Github </span>
            </a>
          </div>
          {%endif%} {%if post.link%}

          <div>
            <a href="{{ post.link }}">
              <img src="/assets/images/link.png" class="project-icon" />
            </a>
            <a href="{{ post.link }}">
              <span class="tiny"> Website </span>
            </a>
          </div>
          {%endif%} {%if post.pdf%}

          <div>
            <a href="/assets/pdfs/{{ post.pdf }}.pdf">
              <img src="/assets/images/pdf.jpg" class="project-icon" />
            </a>
            <a href="/assets/pdfs/{{ post.pdf }}.pdf">
              <span class="tiny"> PDF </span>
            </a>
          </div>
          {%endif%}
        </div>
      </div>
    </div>

    <div class="card-col-2">
      <div style="display: flex">
        <h3 style="margin-bottom: 10px; color: black">
          <b>{{post.title}} </b>
        </h3>
        {%if post.star %}
        <img
          src="/assets/images/star.jpg"
          style="margin-left: 10px; margin-top: 10px"
          width="20px"
          height="20px"
        />
        {%endif%}
      </div>
      <div class="plain-subs">{{post.lang}}</div>

      <div style="margin-top: 10px">{{post.content}}</div>
    </div>
  </div>
</article>
