---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";
@import url(http://fonts.googleapis.com/css?family=Montserrat:700);
@import url(http://fonts.googleapis.com/css?family=Montserrat:500);
@import url(http://fonts.googleapis.com/css?family=Roboto:700);
@import url(http://fonts.googleapis.com/css?family=Roboto:400);
@import url(http://fonts.googleapis.com/css?family=Arimo:700);

.archive-item {
  margin-top: 20px;
}

.card-contents {
  display: flex;
  flex-direction: row;
}

.card-col-1 {
  padding-right: 20px;
  width: 35%;
}

.card-col-2 {
  width: 63%;
  font-size: 20px;
}

.my-post-title {
  // font-family: "Roboto";
  font-weight: 700;
}

.green {
  color: darken($brand-color, 15%);
}

.sub-heading {
  // color: darken($brand-color, 15%);
  font-family: "Roboto";
  font-weight: 700;
  font-size: 30px;
}

.anchor {
  // padding-top: 100px;
}

.holder {
  width: 100%;
  height: 300px;
  position: relative;
}

.horizontal-stack {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.game-style {
  top: 200px;
  max-width: 800px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.game-image {
  border-radius: 5px;
  transition: 0.3s;

  background-color: black;
  width: 350px;
  height: 260px;
  object-fit: cover;
}

.subs {
  color: darken($grey-color, 10%);
  margin-top: -10px;
  font-weight: bold;
  // font-size: 1000;
  font-style: oblique;
}

.plain-subs {
  color: darken($grey-color, 10%);
  margin-top: -10px;
  font-weight: bold;
  // font-size: 1000;
  // font-style: oblique;
}

.link-wrapper {
  width: 300px;
  display: flex;
  justify-content: space-evenly;
}

.project-icon {
  opacity: 90%;
  height: 25px;
  width: 25px;
  &:hover {
    text-decoration: none;
  }
}

.plain-subs {
  color: darken($grey-color, 10%);
  margin-top: -10px;
}

.date {
  color: darken($grey-color, 10%);
  margin-top: 10px;

  font-size: 18px;
  font-style: oblique;
}

.image-a {
  color: black;
}

.hover-image {
  position: relative;
  text-align: center;
}

.centered {
  transition: 0.3s;
  z-index: -10;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  border-style: solid;
  padding: 10px;

  &:hover {
    ~ .game-image {
      opacity: 0%;
    }
    border-color: $brand-color;
    color: $brand-color;
  }
}

.tiny {
  font-size: 15px;
}

.center-hor {
  display: flex;
  justify-content: space-around;
}

.clearfix {
  overflow: auto;
}
