---
layout: plain-post
title: Experience
permalink: /experience/
order: "1"
---

<div class="post-title-line-top"></div>
<header class="post-header">
    <h1 class="post-title">Work Experience</h1>
</header>
<div class="post-title-line">.</div>

{% for post in site.categories["work"] %}
  <div class="card-contents">
    <div class="card-col-1" align="right" style="padding-right:40px;">
      <a href="{{post.link}}"><h3 style="color:black;"><b>{{post.title}} </b></h3></a>
        <div class="plain-subs"><b>{{post.role}}</b></div>
        <div class="date">{{post.dur}}</div>
    </div>

    <div class="card-col-2">
      {{post.content}}
      {%if post.gh%}
          <div>
            <a href="{{ post.gh }}">
              <img src="/assets/images/github.png" class="project-icon" />
            </a>
            <a href="{{ post.gh }}">
              <span class="tiny">
                Github
              </span>
            </a>
          </div>
          {%endif%}
    </div>
  </div>
{% endfor %}
<br/>
<br/>

<div class="post-title-line-top"></div>
<header class="post-header">
    <h1 class="post-title">Education</h1>
</header>

<div class="post-title-line"></div>

{% for post in site.categories["edu"] %}

<article class="archive-item" style="margin-top: 30px;">
  <a name="{{post.ref}}"></a>

  <div class="card-contents">
    <div class="card-col-1" align="right" style="padding-right:40px;">
      <a href="{{post.link}}" ><h3 style="color:black;"><b>{{post.title}} </b></h3></a>
      
        <div class="plain-subs"><b>{{post.role}}</b></div>
        <div class="date">{{post.dur}}</div>
 
    </div>

    <div class="card-col-2">
      {{post.content}}

      {%if post.gh%}
          <div>
            <a href="{{ post.gh }}">
              <img src="/assets/images/github.png" class="project-icon" />
            </a>
            <a href="{{ post.gh }}">
              <span class="tiny">
                Github
              </span>
            </a>
          </div>
          {%endif%}
    </div>

  </div>
</article>

{% endfor %}
