---
layout: page
title: Games
permalink: /games/
---

<h2><b>Powerpets Games</b></h2>

<div style="font-size: 18px;">

    I develop games for Powerpets</a>, an awesome <a href="http://www.powerpets.com/" target="_blank">virtual pet site</a>.
    They are clones of old games there, but with graphics and algorithm optimisations done by me.
    Check them out below.

</div>

{% for post in site.categories["powerpets"] %}

<article class="archive-item">
    <div class="card-contents">
        <div class="card-col-1">

        <div class="hover-image">
        <a href="{{ site.baseurl }}{{ post.url }}" target="_blank"><img src="/assets/images/{{post.image}}.png" width="300px"/></a>
        </div>
        </div><div class="card-col-2">

            <h3 class="post-title-green">{{post.title}}</h3>

        {{post.description}}
        </div class="card-col-2">
    </div>

</article>
{% endfor %}

<h2 style="margin-top:20px;"><b>Flash Games</b></h2>

{% for post in site.categories["games"] %}

<article class="archive-item">
    <div class="card-contents">
        <div class="card-col-1">

        <div class="hover-image">
        <a href="{{ site.baseurl }}{{ post.url }}" target="_blank"><img src="/assets/images/{{post.image}}.png" width="300px"/></a>
        </div>
        </div><div class="card-col-2">

            <h3 class="post-title-green">{{post.title}}</h3>

        {{post.description}}
        </div class="card-col-2">
    </div>

</article>
{% endfor %}
