---
layout: default
---

<div class="home">
  {%- if page.title -%}
  <h1 class="page-heading">{{ page.title }}</h1>

    {%- endif -%} {{ content }}
    </div>


      <div class="post-title">
        <b>Hello there</b>
      </div>
    <br />
    <br />
    I'm a Year 3 Computer Science student
    in National University of Singapore with a
    passion for algorithms and computer graphics.
    <br/>
    <br/>

      <h2>
        <b>Why I code</b>
      </h2>

    I started programming in 2013 (15 y.o.) inspired by the book, <a href="https://inventwithpython.com/">Invent Your Own Games by Al Sweigart</a>.

      This book showed me that machines can do
      anything if you know how to
      communicate with them. I was intrigued by the endless possibilities
      offered by programming.
      (See: <a href="/games/#blueprint">Before I learnt to code</a>)

      <br/>

      <br/>

      That, and I've always loved solving math problems and puzzles,
      so I naturally enjoyed coding.
      Coding to me is an avenue to
      meeting real-world needs while doing what I love most.

      <br/>
      <br/>


      If you have any projects that you think will make an impact,
      I would love to be a part of it.

      Contact me at <a class="u-email" href="mailto:{{ site.email }}">{{ site.email }}</a>.
      <br/>
      <br/>


      <h2>
        <b>2nd Hobby</b>
      </h2>

      Besides software, I also enjoy graphic design and animation. My style is mostly inspired by the vibrant
      colors of cartoons and the liveliness of animations that I watched as a child. (e.g. Disney, Spongebob, Pixar, Fairly Oddparents, Phineas and Ferb).

      <br/>
      <br/>

      I have  worked with clients such as volunteer welfare organisations etc.

      
      <br/>
      <br/>
      <b>Goal:</b> To one day be part of full-fledged animated production team

      <br/>
      <br/>


      <h2>
        <b>Other interests</b>


      </h2>

      Languages, <a href="https://www.jetpunk.com/">trivia</a>, minimalism, philosophy, nature, cycling, roller blading, playing instruments noobly, 
      <a href="https://www.smbc-comics.com/">SMBC comics</a>, <a href="https://tvtropes.org/">tropes</a>
    

    <br/>



    </div>

    </div>



    <br/>
    <br/>




</div>
